@import "tailwindcss";
@plugin "daisyui";


/*.base {*/
/*    margin-left: 3px;*/
/*}*/

/*.target {*/
/*    background: lightgreen;*/
/*}*/

/*.in-window {*/
/*    text-decoration: black underline;*/
/*}*/

/*.pam-highlight {*/
/*    background: yellow;*/
/*}*/